<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="form-style-5">
    <form #employeeForm="ngForm" (submit)="onFormSubmit(employeeForm)">
        <!-- (submit)="onFormSubmit(employeeForm)" -->
    <fieldset>
    <legend><span class="number">1</span>Vendor Page</legend>
    <input type="text" name="name" placeholder="Flight Name *" ngModel #name="ngModel">
    <input type="text" name="leaveBalance" placeholder="Leave Balance *" ngModel #leaveBalance="ngModel">
    </fieldset>
    <input type="submit" value="Add Employee" />
    </form>
    </div>

