
<p>book-form works!</p>
<div class="form-style-5">
    <form #bookForm="ngForm" (submit)="onFormSubmit(bookForm)">
        <!-- (submit)="onFormSubmit(leaveForm)" -->
    <fieldset>
    <legend><span class="number">1</span>Employee Details</legend>
    <label>Name: </label>
    <input type="text" name="name"  ngModel #name="ngModel">
    <label>Date: </label>
    <input type="date" name="date"  ngModel #date="ngModel">
    
    </fieldset>
    <input type="submit"  value="Submit" />
    </form>
    </div>
